In [3]:
a = 1 + 2 + 3 + 4 + 5 + 6 + 7 +8 
print(a)

36

In [2]:
b =  1+ 2 + 3 + \
    4 + 5+ 6 + \
        7+ 8
print(b)

36

In [5]:
c = (1+2+3+
    4+5+6+
    7+8)
print(c)

36

In [6]:
a = True
print(type(a))

<class 'bool'>

In [7]:
# -> List is one of the sequence data structure
# -> List are basically the collections of items (Strings, integers, or even other lists)
# -> List are enclosed in [] sqaure braces
# -> Each item in the list has an assigned index value
# -> Each item in a list is seperated by a comma
# -> Lists are mutable which means they can be changed

In [8]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1,2,3,4] # list of integers

lst3= [[1,2], [3,4]] # list of lists (nested list)

lst4 = [1, 'Pooja' , 24, 1.24] # list of different datatypes

print(lst4)

[1, 'Pooja', 24, 1.24]

In [9]:
lst= [1,2,3,(10,20,30)]
print(type(lst))

<class 'list'>

In [ ]:
# {} -> Curley braces, flower braces
# [] ->  Square braces
# () -> Round braces,paranthesis

In [11]:
lst = [10,20,30]
lst[1] = 100
print(lst)

[10, 100, 30]

In [12]:
lst= [1,2,3,(10,20,30)]
lst[3][2] = 100

TypeError: 'tuple' object does not support item assignment

In [13]:
lst  = ['one', 'two', 'three', 'four']

print(len(lst))

4

In [14]:
lst.append('five')
print(lst)

['one', 'two', 'three', 'four', 'five']

In [ ]:
# append -> keyword
# append() -> in-built function

In [15]:
lst = {1,2,3}
print(type(lst))

<class 'set'>

In [16]:
lst = list(lst)

In [17]:
type(lst)

list

In [18]:
lst = ['one','two','four']
lst.insert(2,'three')
print(lst)

['one', 'two', 'three', 'four']

In [24]:
lst = ['one', 'two', 'three', 'four', 'two', 'two']
lst.remove('two') # it will remove the first occurence of two
print(lst)

['one', 'three', 'four', 'two', 'two']

In [28]:
lst = ['one','two','three','four']
lst2 = ['five','six']

lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [29]:
lst = ['one','two','three','four']
lst2 = ['five','six']

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [55]:
lst = ['one','two','three','four']
lst2 = ['five','six']

new_lst = lst + lst2


print(new_lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [30]:
lst = ['one', 'two', 'three', 'four', 'five', 'six']

del lst[1]
print(lst)

['one', 'three', 'four', 'five', 'six']

In [78]:
# or we can use pop() method to delete the element
lst = ['one', 'two', 'three', 'four', 'five', 'six']

print(lst.pop(1))
print(lst)

two
['one', 'three', 'four', 'five', 'six']

In [ ]:
# remove() --> removes an element of the list 
# del or pop(index) --> delete the element at that index of the list
# pop() --> it will delete the last element of the list

In [33]:
lst  = ['one', 'two','three','four']
lst.remove('three')
print(lst)

['one', 'two', 'four']

In [34]:
lst  = ['one', 'two','three','four']
lst.pop()

'four'

In [35]:
lst = ['one', 'two','three','four']

if 'two' in lst:
    print('Present in the list')

if 'six' not in lst:
    print('Not present in the list')

Present in the list
Not present in the list

In [36]:
lst =  ['one', 'two','three','four']
lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

In [42]:
lst =  ['one', 'two','three','four']
lst2 = []

for i in range(len(lst)):
    lst2.append(lst[len(lst)-i-1])
print(lst2)

['four', 'three', 'two', 'one']

In [43]:
lst =  ['one', 'two','three','four']
print(lst[::-1])

['four', 'three', 'two', 'one']

In [ ]:
# lst [starting_index : ending_index : step_size]

In [44]:
lst = [1,20,'b',5,'a']
print(lst.sort()) #sorting list of elements of different datatypes

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
str1 = "one,two,three,four"
lst = str1.split(',')
print(lst)

['one', 'two', 'three', 'four']

In [51]:
str1 = "I am a superstar"
lst = str1.split() # default split is white space character : space or tab
print(lst)

['I', 'am', 'a', 'superstar']

In [53]:
numbers= [10,20,30,40,50,60,70,80]

print(numbers)
print(numbers[:])

print(numbers[0:4])

print(numbers[0:-1])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60, 70]

In [54]:
print(numbers[2::2])

[30, 50, 70]

In [56]:
numbers = [1,1,2,4,5,6,7,5,2,4,8,2,9,8,2,4,1,1]
print(numbers.count(1))

4

In [57]:
lst = ['one','two', 'three','four']
for element in lst:
    print(element)

one
two
three
four

In [58]:
lst = []
for i in range(10):
    lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i*i)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
# using list comprehension
squares = [i*i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
a = 5
print(a*a)
print(a**2)

25
25

In [65]:
lst = [-10,-50,10,20,50]

new_lst = [i**2 for i in lst]
print(new_lst)

new_lst2 = [i for i in lst if i>=0]
print(new_lst2)

[100, 2500, 100, 400, 2500]
[10, 20, 50]

In [67]:
lst = [-10,-50,10,20,50]

new_lst = [(i,i**2) for i in lst]
print(new_lst)

[(-10, 100), (-50, 2500), (10, 100), (20, 400), (50, 2500)]

Tuple

In [69]:
t = ('a','b')
print(t)

('a', 'b')

In [70]:
type(t)

tuple

In [71]:
emptyTuple = ()

t = (1,2,3) # tuple of integers
print(t)

t = (1,'Pooja',25,'abc') #tuple of mixed datatypes
print(t)

t = (1, (2,3,4), [1,'Pooja',25,'abc']) #nested tuple
print(t)

(1, 2, 3)
(1, 'Pooja', 25, 'abc')
(1, (2, 3, 4), [1, 'Pooja', 25, 'abc'])

In [72]:
t = ('a', 'b', 'c', 'd', 'e', 'f')

print(t[3])

d

In [73]:
t = (1, (2,3,4), [1,'Pooja',25,'abc']) 
print(t[1])

(2, 3, 4)

In [74]:
print(t[1][2])

4

In [75]:
t = (1,2,3,4,[5,6,7])
t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [76]:
t = (1,2,3)  + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [77]:
l = list("apple")
print(l)

['a', 'p', 'p', 'l', 'e']

In [80]:
t = ('abc') * 4
print(t)

t = ('abc',) * 4
print(t)

abcabcabcabc
('abc', 'abc', 'abc', 'abc')

In [81]:
t = (1,2,3,4,5)

del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [82]:
t = (1,2,3,4,2,1,3,4,6,2,1,3,1,1,1,1,1)
t.count(1)

8

In [83]:
t.index(3)

2

In [84]:
t = (1,2,3,4,5,6)
print(len(t))

6

In [85]:
t = (4,5,1,2,3)
new_t = sorted(t)
print(new_t)

[1, 2, 3, 4, 5]

In [86]:
type(new_t)

list

In [87]:
t = (1,2,3,4,1,2,4,5,6)
sorted(t)

[1, 1, 2, 2, 3, 4, 4, 5, 6]

In [88]:
t = (2,3,5,1,4,9)
print(max(t))

9

In [89]:
print(min(t))

1

In [90]:
print(sum(t))

24

In [91]:
lst = [5,3,2,7,8,3,1,8]